.container {
    width: 700rpx;
    height: 1334rpx;
    overflow: auto;
    padding: 20rpx;
    .label {
        margin-top: 20rpx;
        margin-bottom: 20rpx;
    }
    .list-editor-container {
        width: 200rpx;
    }
    .combobox-editor-container {
      width: 200rpx;
  }
}
